@model IEnumerable<Customer.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料列表";
}

<h2>客戶資料列表</h2>

@*@using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
    {
        <input type="search" name="keyword" placeholder="請輸入關鍵字" value="" />
    }
*@

@using (Html.BeginForm("依客戶名稱或類別搜尋", "客戶資料", FormMethod.Post))
{
    <table style="border : 0; width:80%;" cellpadding="5">
        <tr>
            <td>@Html.ActionLink("新增顧客資料", "Create")</td>
            <td align="center" valign="middle">
                關鍵字：@Html.TextBox("關鍵字", null, new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
            <td valign="middle" align="center">
                客戶類別：@Html.DropDownList("客戶類別", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
            </td>
            @*<td valign="middle" align="center">
                <button type="submit">搜尋</button>
            </td>*@
        </tr>
    </table>
}

@if (!string.IsNullOrEmpty(Convert.ToString(TempData["EditMessage"])))
{
    //TempData 資料送出後，如果Reload後，文字就消失了
    <h3>@TempData["EditMessage"]</h3>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.客戶名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.統一編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.傳真)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @{var data = Model.ToArray(); }
        @for (int i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modeltem => data[i].Id)

            if (ViewBag.SelectedID != null && ViewBag.SelectedID == data[i].Id)
            {
                ViewBag.SelectedItem = data[i];
            }
            <tr @if (ViewBag.SelectedID != null && ViewBag.SelectedID == data[i].Id) { @Html.Raw("style='background-color: lightyellow;'") }>
                <td>
                    @Html.DisplayFor(modelItem => data[i].客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Email)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = data[i].Id }) |
                    @Html.ActionLink("明細", "Index", new { type = "Details", id = data[i].Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = data[i].Id }) |
                    @Html.ActionLink("客戶聯絡人", "Index", new { type = "Contact", id = data[i].Id }) |
                </td>
            </tr>
        }
    </table>
}

<hr />

@if (ViewBag.SelectedItem != null)
{
    if (ViewBag.type == "Details")
    {
        @Html.Partial("Details", ViewData["SelectedItem"])
    }
    else if (ViewBag.type == "Contact")
    {
        @Html.Action("根據客戶代號顯示聯絡人", "客戶聯絡人", new { 客戶id = ViewBag.SelectedID, type = "ByCustID" })
    }
}
